body{
	height: 100%;
	width: 100%;
	padding: 200px 0;
	overflow: hidden;
	

}
form{
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 20px;
	border: 2px solid black;
	background-image: url("images/mot-de-passe.png");
	background-size: 40px 40px;
}
.form{
	margin: 30px 60px;

}
.part{
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	display: flex;
}
input{
	text-align: center;
}